<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
</head>

<body>

    <footer style="background-color: #DCDCDC; padding: 20px; text-align: center; ">
        <p>Bản quyền © 2023. <br> </p>
        <p>Liên hệ: www.KeyBoard.com.vn<br>
            Địa chỉ: Số 19 đường Nguyễn Hữu Thọ phường Tân Phong quận 7  <br>
            Số điện thoại: 0957385678 <br>
            Email: keyboardshop2023@gmail.com</p>
        <form class="email-form">
            <label for="email">Đăng ký nhận tin tức:</label>
            <input type="email" id="email" name="email" class="email-input" style="margin-top: 10px;" placeholder="Nhập địa chỉ email">
            <input type="submit" value="Gửi" class="email-submit" style="margin-top: 10px;">
        </form>
    </footer>


</body>

</html>